/*
 estilo.css
*/

.estilo-panel {
	margin:auto 10px;
	float:left;
	width:300px;
}

.off {
	display:none;
}

.form-control {
	width:auto;
}

.kv-attribute {
	
}
.kv-detail-view {
	overflow: hidden;
	width: 100%;
}

/** PESTAÑAS **/
.nav-tabs > li > a {
	border: 0 !important;
}
.nav-tabs > li.active > a, nab-tabs > li.active a:focus, nab-tabs > li.active a:hover{
	background-color: #fff !important;
}