/*
 estilo.css
*/

.estilo-panel {
	margin:auto 10px;
	float:left;
	width:300px;
}

.off {
	display:none;
}

.form-control {
	width:100%;
}

.kv-attribute {
	width:auto;
}
/*
.table, .table-bordered, .table-condensed, .table-striped, .detail-view {
	width:1100px !important;
	max-width: 1200px !important;
}
*/

/** PESTAÑAS **/
.nav-tabs > li > a {
	border: 0 !important;
}
.nav-tabs > li.active > a, nab-tabs > li.active a:focus, nab-tabs > li.active a:hover{
	background-color: #fff !important;
}