/*
 estilo.css
*/

body > .wrap > .container {
	min-width: 80% !important;
}

.navbar > .container {
	min-width: 80% !important;
}

.estilo-panel {
	margin:auto 10px;
	float:left;
	width:300px;
}

.off {
	display:none;
}

.nav-tabs.nav-justified > li > a {
	border: 0 !important;
	border-radius: 4px 4px 4px 4px !important;
}